@use '/src/styles.sass' as *

%flex-horizontal
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

#container
  background-color: $gradient1
  height: 80px
  padding: 0px 0px

  @extend %flex-horizontal

  #logo
    display: flex
    user-select: none

    height: 50px

    font-size: 2em


    padding: 10px 30px
    border-radius: 0 15px 15px 0

    background-color: $gradient6
    color: $gray1

    text-align: center
    vertical-align: middle
    align-items: center



  ul
    @extend %flex-horizontal
    justify-content: flex-start
    width: 500px
    gap: 20px
    list-style-type: none
    padding: 10px 20px
    background-color: $gradient6
    border-radius: 15px 0 0 15px

    .flex2
      background-color: $gradient3
      padding: 10px
      cursor: pointer
      color: $gray1


.button





