@use '/src/styles.sass' as *

#up
  position: fixed
  bottom: 40px
  right: 40px
  border-radius: 50%
  width: 50px
  height: 50px


.main-container
  display: flex
  justify-content: center

  // height: calc(100vh - 40px)



  // transition: height 1s
  // transform-origin: top






  h1
    margin-bottom: 20px

  p
    margin-bottom: 10px

  #cv
    width: 100%


    background-color: $gray1
    padding: 50px
    padding-top: 100px

    article
      scroll-snap-align: start

    header
      display: flex
      flex-direction: row

      justify-content: space-between
      align-items: center

      margin-bottom: 100vh
      padding-top: 200px

      scroll-snap-align: start


      .left
        transform: translateY(-50%)

        #name

          font-size: 2em
          letter-spacing: 0.25em

        #subtitle

          letter-spacing: 0.4em
          text-transform: uppercase

      #picture-container

        $square-width: 250px

        border-radius: 50%

        background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%)
        width: $square-width
        height: $square-width
        display: flex
        align-content: center
        justify-content: center
        align-items: center

        overflow: hidden

        transform: translateY(30px)


        #profile-picture
          width: $square-width - 50px
          transform: translateY(-10px)
          contain: content


    #cv-main-content

      display: flex
      flex-direction: column

      .small-block
        h6
          text-transform: uppercase
          font-size: 1.6em
          font-weight: 200
          text-transform: uppercase
          margin-bottom: 1rem

      .big-block
        h6
          font-size: 2em
          font-weight: 200
          text-transform: uppercase
          margin-bottom: 1rem
      [class$=#{"block"}]
        p
          font-weight: 100
          



      article
        width: 600px
        margin-bottom: 100vh
        scroll-snap-align: center
        p
          text-indent: 1em

      article#contact

        table
          border-spacing: 20px

          a
            text-decoration: none
            color: $gray5
            letter-spacing: 0.1em

          td:last-of-type
            font-size: 1.2em



          img, .icon
            width: 30px
            font-size: 2em

          .phone

          .mail

          .github

            img

          .facebook

          .linkedin

          .first-col

          .second-col

      article#skills
        p

        ul
          column-count: 2
          list-style-position: inside
          margin-bottom: 1.5rem

          li

        #technologies

        #other-skills

      article#free-time

        p

      article#work-experience



@media (max-width: 1000px)
  #cv
    background: red
    width: 1000px
    height: 1400px


@media (max-width:  600px)
  #cv
    width: 600px
    height: 1400px







