<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="main-container">
  <div class="cv">
    <header>
      <div class="left">
        <h1 id="name">Michał Godek</h1>
        <p id="subtitle">computer science student, agh kraków</p>
      </div>
      <div id='picture-container'>
        <img id="profile-picture" src="/assets/profile10.png" alt="picture of my face">
      </div>
    </header>

    <section id="cv-main-content">

      <article id="profile">
        <div class="big-block">
          <h6>profile</h6>
          <p>I am primaly interested in frontend development. During my studies i learned about
            Angular. I have also experience with Java and Python. I am looking for a
            job where I will gain experience, develop my skills and use academic knowledge. I am available now for working full time.</p>
        </div>
      </article>

      <article id="contact" class="big-block">
        <h6>Contact</h6>
        <table>
          <tr class="mail">
            <td class="first-col"><span class="material-symbols-outlined icon">
              mail
              </span></td>
            <td class="second-col"><a href="mailto:michal.godek01@gmail.com">michal.godek01@gmail.com</a></td>
          </tr>
          <tr class="github">
            <td class="first-col"><img src="/assets/github.png" alt="github logo"></td>
            <td class="second-col"><a href="https://www.github.com/jagodek" target="_blank">www.github.com/jagodek</a></td>
          </tr>
        </table>
      </article>

      <article id="skills">
          <div id="technologies" class="small-block">
            <h6>experience with technologies</h6>
            <ul>
              <li>html</li>
              <li>css</li>
              <li>javascript</li>
              <li>angular</li>
              <li>java</li>
              <li>javafx</li>
              <li>python</li>
              <li>numpy</li>
              <li>pandas</li>
              <li>django</li>
              <li>sql</li>
            </ul>
          </div>
          <div id ="other-skills" class="small-block">
            <h6>skills</h6>
            <ul>
              <li>Work with GitHub</li>
              <li>Use of the Linux</li>
              <li>Solving algorithmic problems</li>
              <li>Object oriented programming</li>
              <li>English - C1</li>
            </ul>
          </div>
      </article>

      <article id="free-time">
        <div class="small-block">
          <h6>During free time</h6>
          <p>
            I enjoy bicycling, both in my
            neighborhood and at long distances.
            Running, tourism and team games are
            also my preferred activities. I like
            watching movies and anime.
          </p>
        </div>
      </article>



      <article id="work-experience">
        <div class="big-block">
          <h6>work experience</h6>

          <div class="small-block">
            <h6>S2INNOVATION</h6>
            <p>july - august 2023</p>
            <p>Internship. Work with Django and django rest_framework. Writing tests for rest endpoints</p>
          </div>
        </div>
      </article>

      <article id="education">
        <div class="big-block">
          <h6>education</h6>
          <div class="small-block">
            <h6>THE AGH UNIVERSITY OF SCIENCE AND
            TECHNOLOGY, CRACOW</h6>
            <p>2020 - present</p>
            <p>Study profile: Computer science, Faculty of Computer Science</p>
          </div>
        </div>
      </article>

      <article id="projects">
        <div class="big-block">
          <h6>selected projects</h6>
          <div class="small-block">
            <h6>TRAVEL AGENCY WEBSITE
              HTTPS://GITHUB.COM/JAGODEK/TRIPS</h6>
              <p>My own project written using Angular with database and
                authentication service in google firebase</p>
          </div>
          <div class="small-block">
            <h6>APPLICATION FOR THEATRE WORKERS
              HTTPS://GITHUB.COM/JAGODEK/KINO-FILMY</h6>
              <p>Group project written in Spring boot (I made some controllers and
                views)</p>
          </div>
        </div>
      </article>

    </section>



  </div>

</div>


